*
{
    font-family: 'Google Sans', sans-serif;
}
body
{
    background-color: #f5f5f5;
    min-height: 30px
}
.container-fluid
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.row
{
    padding: 0px;
    margin: 0px
}
p
{
    font-size: Large;
    margin: 0px;
    
}
h1
{
    margin: 0px;
}
h2
{
    margin-top: .1em;
    margin-bottom: .1em;
    text-decoration: underline;
}

.banner-box
{
    margin: 0px;
    padding: 2px
}
.topLogo
{
    width: 100%;
}

.top-search
{
    background-color: #fff6f4;
    float: center;
    vertical-align: middle;
    
    text-align: center;
    padding: .1em 0em;
    margin-bottom: 0px;
    
    background: #fffff9;
    margin: 1em 2em;
    overflow:auto;
    border-radius: 3px;
}

nav
{
    padding: 0px;
    margin: 0px;
    background: #485B66;
    
    position: relative;
    top: 0;
    z-index: 2;
}
.tab-box
{
    color: snow;
    text-align: center;
    vertical-align: bottom;
    border-top: 1px solid white;
    padding: .1em;
    margin: 0px;
    border-radius: 9px;/*roundness of box*/
    border:2px solid #485B66;
    min-height: 4.5em;
    
}
.current-box
{
    background: #394952;
}
.tab-menu
{
    color: snow;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #e87909;
    border-bottom: 1px solid white;
    padding: 0px;
}
.tab-box img
{
    width: 60%;
    max-width: 2.5em;
    margin: 0px;
    margin-top: 2px;
}
.tab-box h6
{
    margin: 0px;
    margin-bottom: 2px;
    font-size: Large;
    padding: 0px
}
.tab-box:hover
{
    border:2px solid snow;
    text-decoration:none;
}

.mainBody
{
    width: 100%;
}
.gallery
{
    background-color: #454E5C;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    overflow: hidden;
}
.gallery img
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.Welcome
{
    background-color: #db994b;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    overflow: hidden;
    color: snow;
    padding: 2em 1em;
    
}
.search
{
    background-color: #fffeed;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    overflow: hidden;
    padding: 1em 0em;
    text-align: center;
}
.leftMain
{
    background: #ebebeb;
    padding: 0px;
}
.rightMain
{
    padding: 0px;
}
.card
{
    background: #fffff9;
    margin: 1em 2em;
    padding: 1em 2em;
    overflow:auto;
    border-radius: 3px;
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.06);
}

footer
{
    padding: 2em 2em;
    margin: 0px;
    background-color: grey;
}




input[type=search]
{
    width: 75%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-Large;
}
input[type=button]
{
    width: 15%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-Large;
}

/*For menu*/
.dropdown-button
{
    display: block;
    float: left;
    padding: 1em;
}


.moreMenu
{
    display: none;
}
.moreMenu li, ul
{
    background: #db994b;
    margin: 0;
    list-style: none;
    border-top: 1px solid white;
}
.moreMenu ul
{
    padding: 0;
    margin: 0;
}
.moreMenu a
{
    text-decoration: none;
    color: white;
}
.moreMenu li
{
    padding: 1em 0em;
    text-align: center;
    list-style: none;
}
.moreMenu li:hover
{
    background: #bc7c30;
}



.forms
{
    padding: 2em 8em;
}
.forms input
{
    width: 100%;
    padding: 5px 20px;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: large;
}
.forms input[type=button]
{
    width: 15%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-Large;
    color: aqua;
}
.forms h2, h4
{
    text-align: center;
    float: center;
    margin: 0px;
    padding: 0px;
}
input[type=submit] {
    width: 30%;
    background-color: #05e352;
    color: white;
    padding: 14px 20px;
    margin: .1em 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:20px;
}