* {
    font-family: 'Google Sans', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.wholePage
/*need for footer*/
{
    min-height: 80em;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 10em;
    /* height of your footer */
    height: 100%;
}

.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.row {
    padding: 0px;
    margin: 0px
}

p {
    font-size: Large;
    margin: 0px;

}

h1

/*Welcome*/
    {
    margin: 0px;
}

h2

/*card heading*/
    {
    margin-top: .1em;
    margin-bottom: .1em;
    text-decoration: underline;
}

h3

/*result card heading*/
    {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.3em;
}

h4 {}

h5 {
    text-align: center;
    float: center;
    margin: 0px;
    padding: 10px 0px;
    font-size: medium;
}

.h6

/*tab box font*/
    {
    margin: 0px;
    margin-bottom: 2px;
    font-size: Large;
    padding: 0px
}




.topLogo {
    width: 100%;
}

.top-search {
    background-color: #fff6f4;
    float: center;
    vertical-align: middle;

    text-align: center;
    padding: .1em 0em;
    margin-bottom: 0px;

    background: #fffff9;
    margin: 1em 2em;
    overflow: auto;
    border-radius: 3px;
}

nav {
    padding: 0px;
    margin: 0px;
    background: #db994b;

    position: relative;
    top: 0;
    z-index: 2;

}

.current-box {
    background: #cb7714;
}

.tab-box {
    color: snow;
    text-align: center;
    vertical-align: bottom;
    border-top: 1px solid white;
    padding: .1em;
    margin: 0px;
    border-radius: 9px;
    border: 2px solid #db994b;
    height: 4.5em;
    cursor: pointer;
}

.tab-box img {
    width: 60%;
    max-width: 2.5em;
    margin: 0px;
    margin-top: 2px;
}

.tab-box h6 {
    margin: 0px;
    margin-bottom: 2px;
    font-size: Large;
    padding: 0px
}

.tab-box:hover {
    border: 2px solid snow;
    text-decoration: none;
}

.logoBox {
    text-align: center;
    vertical-align: bottom;
    border-top: 1px solid white;
    margin: 0px;
    border-radius: 9px;
    border: 2px solid #db994b;
    height: 4.5em;
    padding: .3em;

}

.logoBox img {
    margin-top: auto;
    margin-bottom: auto;
    max-height: 100%;
    max-width: 100%;


}

.logoBox:hover {
    border: 2px solid snow;
    text-decoration: none;
}


.mainBody {
    width: 100%;
}

.gallery {
    background-color: #454E5C;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    overflow: hidden;
    vertical-align: middle;
}

.gallery img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.Welcome {
    background-color: #db994b;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    overflow: hidden;
    color: snow;
    padding: 2em 1em;

}

.search {
    background-color: #fffeed;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    overflow: hidden;
    padding: 1em 0em;
    text-align: center;
}

.leftMain
{
    background: #ebebeb;
    padding: 0px;
    height: 100%;
}
.rightMain
{
    padding: 0px;
}

.resultsBody {
    padding: 0px;
}

.card {
    background: #fffff9;
    margin: 1em 1em;
    padding: 1em 1.5em;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.06);
}

footer {
    background: #202020;
    color: snow;
    width: 100%;
    padding: 2em;
    font-size: medium;
    color: #b2b2b2;
    position: absolute;
    bottom: 0;
    z-index: -1;
    margin-top: 2em;
    height: 6em;
}




input[type=search] {
    width: 75%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-Large;
}

input[type=button] {
    width: 15%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-Large;
}

.moreMenu {
    display: none;
}

.moreMenu li,
ul {
    background: #485B66;
    margin: 0;
    list-style: none;
    border-top: 1px solid white;
}

.moreMenu ul {
    padding: 0;
    margin: 0;
}

.moreMenu a {
    text-decoration: none;
    color: white;
}

.moreMenu li {
    padding: 1em 0em;
    text-align: center;
    list-style: none;
}

.moreMenu li:hover {
    background: #344048;
}


textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
    max-width: 100%;
}

.forms {
    padding: 2em 8em;
}

.forms input {
    width: 100%;
    padding: 5px 20px;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: large;
}

.forms input[type=button] {
    width: 15%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: x-Large;
    color: aqua;
}

.forms h2,
h4 {
    text-align: center;
    float: center;
    margin: 0px;
    padding: 0px;
}

input[type=submit] {
    width: 30%;
    background-color: #05e352;
    color: white;
    padding: 14px 20px;
    margin: .1em 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

table {
    border: 2px solid #3F4444;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}


th,
td {
    padding: 1em;
    width: 30%;
}

td {
    width: em
}

.searchBubble {
    border-radius: 18px;
    background: red;
    display: inline;
    width: 100%;
    margin: 0px;
}

.searchBubble input[type=text] {
    float: left;
    width: calc(100% - 14em);

    padding: 5px 20px;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
    height: 3em;

}

.searchBubble select {
    float: left;
    width: 7em;

    padding: 5px 20px;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
    background: #e2e2e2;
    height: 3em;
}

.searchBubble input[type=submit] {
    padding: 5px 20px;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
    width: 7em;
    background-color: #db994b;
    height: 3em;
}

.searchFilter {
    float: left;
    display: inline;
}

.searchFilter p,
select {
    float: left;
    display: inline;
}

.resultCard {
    background: #fffff9;
    padding: 1em 1em;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.06);
    float: left;
    border: 4em;
    height: 20em;
    width: 100%;
    margin: .5em 0em;
    position: relative;
}

.leftResult {
    width: 25%;
    float: left;
}

.leftResult img {
    width: 100%;
    height: auto;
    max-width: 28em;
    max-height: 18em;
}

.rightResult {
    width: 70%;
    float: left;
    margin: .2em;
    padding-left: 1em;
    overflow: hidden;
}

.rightResult a {
    color: black;
    text-align: center;
    vertical-align: bottom;
    padding: .5em;
    margin: 0px;
    border-radius: 7px;
    border: 2px solid #db994b;
    float: right;
    bottom: 1em;
    right: 1em;
    position: absolute;
}

.rightResult p {
    font-size: 150%;
}

.userInfo {
    width: 100%;
}

.userInfo h4,
.userInfo p,
.userInfo a {
    float: left;
    font-size: 1.5em;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    color: green;
}

.userInfo a {}


.profCard {
    background: #fffff9;
    margin: 1em 1em;
    padding: 1em 1.5em;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.profImg {
    text-align: center;
    width: 100%;
    max-width: 15em;
}

.form-message {
    text-align: center;
}

.form-error {
    color: red;
}

.form-success {
    color: green;
}

.input-error {
    box-shadow: 0 0 5px red;
}



@media only screen and (max-width: 600px)
{
body
{
background-color: lightblue;
}
nav
    {
        background-color: aqua;
    }
}